.app-logo{
    width:70px;
    margin-bottom:10px;
}
.auth-card{
    margin:0 auto;
    max-width:500px;
    

    border-radius: 10px;
    background: linear-gradient(145deg, #1fc1a6, #1aa28c);
    box-shadow:  16px 16px 32px #18947f, 
             -16px -16px 32px #22d4b7;

             border:none;

    .card-body{
        padding:40px 30px;;
    }
}
.row-box{
    display:flex;
    height:100vh;
}
.auth-box{
    margin-bottom:50px;
}