.app-logo{
    width:70px;
    margin-bottom:10px;
}
.auth-card{
    margin:0 auto;
    max-width:500px;
}
.row-box{
    display:flex;
    height:100vh;
}
.auth-box{
    margin-bottom:50px;
}